<% layout("/layouts/boilerplate") %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>"
  const list = <%- JSON.stringify(list) %>
</script>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= list.title %></h3>
  </div>
  <div class="card listing-card sho-card col-8 offset-3">
    <img
      src="<%= list.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">Owned by <%= list.owner.username %></p>
      <p class="card-text"><%= list.description %></p>
      <p class="card-text">&#8377;<%= list.price.toLocaleString("en-IN") %></p>
      <p class="card-text"><%= list.country %></p>
      <p class="card-text"><%= list.location %></p>
    </div>
  </div>

  <% if (currentUser && currentUser._id.equals(list.owner._id)) { %>

  <div class="btns">
    <a
      class="btn btn-dark edit-btn col-1 offset-3 mb-3"
      href="/listings/<%= list._id %>/edit"
      >Edit</a
    >

    <form method="POST" action="/listings/<%= list._id %>?_method=DELETE">
      <button class="btn btn-dark offset-5 mb-3">Delete</button>
    </form>
  </div>
  <% } %>

  <div class="col-8 offset-3 mb-3">
    <% if (currentUser) { %>
    <hr />
    <h3>Write a review</h3>
    <form
      method="POST"
      action="/listings/<%= list._id %>/reviews"
      novalidate
      class="needs-validation"
    >
      
      <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating:</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment:</label>
        <textarea
          name="review[comment]"
          id=""
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Write your experience</div>
      </div>
      <div>
        <button class="btn btn-dark offset-5 mb-3">Submit</button>
      </div>
    </form>
    <% } %>
    <% if (list.reviews.length ) { %>
     
    
    <hr />
    <h3>Reviews</h3>
    <div class="row">
      <% for( let review of list.reviews ) { %>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text mb-3"><%= review.comment %></p>
          <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
          <form
            action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-dark btn-sm mb-2">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="col-8 offset-3 mb-3" >
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div>

</div>

<script src="/js/map.js"></script>